#maindiv{
    background-color:black;
    height: 300px;
    width: 150px;
}
#div1{
    background-color: red;
    border-radius:50%;
    border-color: red;
}
#div2{
    background-color: yellow;
    border-radius:50%;
}
#div3{
    background-color: green;
    border-radius:50%;
}